*.log
.DS_Store
.env
.env.backup
.env.local
.env.production
.env.production.local
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/bootstrap/cache/*
/node_modules
/public/build
/public/hot
/public/*.hot
/public/storage
/dist
/storage/*.key
/storage/pail
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/vendor
/.git
Homestead.json
Homestead.yaml
Thumbs.db
user_satriamerahputih.txt
postman/
docs/releases/
nul
